<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<h3 class ="review-title">
  <p><%="#{@job.position} at" %></p>
  <p><%="#{ @job.company.name}" %></p>
</h3>
<div class="edit-job-form">
  <%= form_for(@job) do |f| %>
    <span class="edit-position">Position:<%= f.text_field :position %><br></span><br>
    <span class="edit-location"> Location: <%= f.text_field :location %><br></span><br>
    <span class="edit-description">Description: <%= f.text_area :description %><br></span>
    <%= f.submit "Update Job", class: "btn btn-lg btn-warning" %>
  <% end %>
  <div>
