<ul class="jobs-table">
  <% @jobs.each do |job| %>
    <li class="job-listing index-job search-item <%= job.tags.map { |tag| tag.name}.join(" ") %>" id="<%= job.id %>">
      <div class="job-listing-text row">
        <span class="position col-md-3"><strong><%= link_to job.position, job_path(job) %></strong></span>
        <span class="company col-md-2"><%= job.company.name %></span>
        <span class="location col-md-2"><%= job.location %></span>
        <span class="date col-md-2"><%= job.posting_date.strftime("%m/%d") %></span>
        <%= render partial: "/partials/#{partial}", locals: {job: job} %>
      </div>
    </li>
  <% end %>
</ul>
