<table class="jobs-table">
  <% @jobs.each do |job| %>
    <tr class="index-job" id="<%= job.id %>">
      <td class="index-job-detail">
        <h5><strong><%= link_to job.position, "" %></strong></h5>
      </td>
      <td class="index-job-detail">
        <h5><%= job.company.name %></h5>
      </td>
      <td class="index-job-detail">
        <h5><%= job.location %></h5>
      </td>
      <td class="index-job-detail">
        <h5><%= job.posting_date.strftime("%m/%d") %></h5>
      </td>
      <% if current_user.jobsliked.include?(job) %>
      <td class="index-job-detail">
        <h5 class="added-job">Added to My Jobs</h5>
      </td>
      <% else %>
      <td class="index-job-detail">
        <div class="btn-group btn-group-sm" role="group">
          <button id="like" class="btn btn-success">
            <i class="fa fa-star fa-lg"></i> Like
          </button>
          <button class="btn btn-danger">
            <i class="fa fa-trash-o fa-lg"></i>
          </button>
        </div>
      </td>
      <% end %>
    <% end %>
  </tr>
</table>
